{% extends 'baseTemplate.twig' %}

{% block pageTitle %}Connexion{% endblock %}

{% block content %}
    <h1>Login</h1>
    <form method="post">
        <!-- Nom utilisateur -->
        <label for="username">Username</label>
        <input type="text" name="username" id="username" />
        <br>
        <!-- Mots de passe utilisateurs -->
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
        <br>
        <button type="submit">Connexion</button>
    </form>
{% endblock %}