{% extends 'baseTemplate.twig' %}
{% block pageTitle %}Connexion{% endblock %}

{% block content %}
    <h1>Login</h1>
    <form method="post">
        <!--SOUCIS CASE SENSITIF -->
        <!-- Nom utilisateur -->
        <label for="Login">Username</label>
        <input type="text" name="Login" id="Login" />
        <br>
        <!-- Mots de passe utilisateurs -->
        <label for="Pswd">Password</label>
        <input type="password" name="Pswd" id="Pswd" />
        <br>
        <button type="submit">Connexion</button>
    </form>
    {% if errorFlag %}Mauvais login : Veuillez re-essayer !{% endif %}
{% endblock %}