{% extends 'baseTemplate.twig' %}
{% block menu %}
    <ul>
        <li><a href="createTech">Créations</a></li>
        <li><a href="readTech">Liste</a></li>
    </ul>
{% endblock %}
{% block content %}
    <h1> Creations de truc </h1>
    <form method="post">
        <label for="Nom">Nom</label>
        <input type="text" name="Nom" id="Nom">

        <label for="Pren">Prenom</label>
        <input type="text" name="Pren" id="Pren">

        <label for="Email">Email</label>
        <input type="email" name="Email" id="Email">

        <label for="Actif">Actif?</label>
        <input type="checkbox" name="Actif" id="Actif" value="1">

        <button type="submit">Envoyer</button>
    </form>
{% if rowAffected is defined and rowAffected is not null%}
    <p>ADRESSE CRÉÉE AVEC SUCCÈS</p>
{% endif %}
{% endblock %}