{% extends 'baseTemplate.twig' %}
{% block navbar %}
    {% include 'Navbar/Navbar.twig' %}
{% endblock%}
{% block headerTitre %}<h1>Créations du téchniciens</h1>{% endblock %}

{% block content %}
    <form method="post">
        <label for="Nom">Nom</label>
        <input type="text" name="Nom" id="Nom">

        <label for="Pren">Prenom</label>
        <input type="text" name="Pren" id="Pren">

        <label for="Email">Email</label>
        <input type="email" name="Email" id="Email">

        <label for="Actif">Actif?</label>
        <input type="checkbox" name="Actif" id="Actif" value="1">

        <button type="submit">Envoyer</button>
    </form>

    {% if error is defined and error %}
        <p>ERREUR : {{ error }}</p>
    {% elseif success is defined and success %}
        <p>TECHNICIEN CRÉÉ AVEC SUCCÈS</p>
    {% endif %}

{% endblock %}