{% extends 'baseTemplate.twig' %}
{% block menu %}
    <ul>
        <li><a href="createTech">Créations</a></li>
        <li><a href="listTech">Liste</a></li>
    </ul>
{% endblock %}
{% block content %}
{% endblock %}