{% block menu %}
    <ul>
        <li><a href="formAccueil">Page d'accueil</a></li>
        <li><a href="createTech">Créations</a></li>
        <li><a href="getTech">Liste</a></li>
    </ul>
{% endblock %}