{% extends 'baseTemplate.twig' %}
{% block navbar %}
    {% include 'Navbar/Navbar.twig' %}
{% endblock%}
{% block menu %}

{% endblock %}
{% block headerTitre %}
    <h1>Modification du mot de passe</h1>
{% endblock %}
{% block content %}
        <form method="post" style="max-width: 400px; margin: 20px auto; display: flex; flex-direction: column; gap: 10px;">

            <label for="Login">Login (Lecture seule)</label>

            <input type="text" name="Login" id="Login" value="{{ UserEntity.getLogin() }}" readonly style="background-color: #eee;">

            <label for="oldPswd">Ancien mot de passe</label>
            <input type="password" name="oldPswd" id="oldPswd">

            <label for="newPswd">Nouveau mot de passe</label>
            <input type="password" name="newPswd" id="newPswd">

            <hr>

            <button type="submit" style="padding: 10px; cursor: pointer;">
                Mettre à jour le mot de passe
            </button>

            <a href="getUser" style="text-align: center; margin-top: 10px; color: #666;">Annuler</a>
        </form>
    {% if errorMessage is defined %}
        {{ errorMessage }}
    {% endif %}
    
{% endblock %}