{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="formAccueil">TicketSystem</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {# Partit accueil#}
                    <li class="nav-item">
                        <a class="nav-link" href="formAccueil">Accueil</a>
                    </li>

                    {# Partit utilisateur#}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Utilisateur
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="getUser">Liste utilisateur</a></li>
                        </ul>
                    </li>

                    {# Partit technicien#}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Technicien</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="getTech">Liste technicien</a></li>
                            <li><a class="dropdown-item" href="createTech">+ Nouveau téchniciens</a></li>
                        </ul>
                    </li>

                    {# Partit fonction #}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Fonction</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="getFonction">Liste fonction</a></li>
                            <li><a class="dropdown-item" href="createFonction">+ Nouvelle fonction</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="getJob">Liste Jobs</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Projet</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="getProject">Liste projet</a></li>
                            <li><a class="dropdown-item" href="createProject">+ Nouveau projet</a></li>
                        </ul>
                    </li>
                </ul>
                {# Partit login#}
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#confirmLogoutModal">Quitter</a>
                    </li>
                </ul>

                {# Confirmation #}
                <div class="modal fade" id="confirmLogoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header border-0 pt-4 px-4">
                                <h5 class="modal-title fw-semibold" id="logoutModalLabel">
                                    <i class="bi bi-box-arrow-left me-2 text-danger"></i>Confirmation
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body px-4 pb-4">
                                <p class="text-muted mb-0">Êtes-vous sûr de vouloir vous déconnecter et quitter l'application ?</p>
                            </div>
                            <div class="modal-footer border-0 px-4 pb-4 pt-0 gap-2">
                                <button type="button" class="btn btn-light px-4" data-bs-dismiss="modal">Annuler</button>
                                <a href="formLogin" class="btn btn-dark px-4">Quitter</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}