{% extends 'baseTemplate.twig' %}
{% block content %}
    <nav>
        <ul>
            <li><a href='formLogin'>Login</a></li>
            <li><a href='formTech'>Technicien</a></li>
            <li><a href='listUser'>User</a></li>
        </ul>
    </nav>
{% endblock %}